.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.203);
    backdrop-filter: blur(.5px);
    z-index: 100;
    height: 100%;
    width: 100%;
    // margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
    .wr_popup {
        background: $color-white;
        border-radius: 30px 30px 0px 0px;
        width: 100%;
        height: 100%;
        margin: 25% 30px 0;
        box-shadow: -4px -4px 5px 0px rgba(8, 8, 8, 0.11);
        position: relative;
        overflow: hidden;
        .popup_img {
            position: absolute;
            object-fit: contain;
            &--1 {
                left: -5%;
                bottom: 20%;
                width: 55%;
            }
            &--2 {
                right: 2%;
                bottom: 20%;
                width: 30%;
            }
        }
        .popup_form {
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            padding: 60px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .close_popup {
                position: absolute;
                right: 30px;
                top: 25px;
                font-size: 40px;
                color: $color-white;
                width: 70px;
                height: 70px;
                background: #cacaca;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                padding-top: 5px;
                transition: .2s;
                &:hover {
                    cursor: pointer;
                    // background: #b1b1b1;
                    background: $color-blue;
                    transition: .2s;
                    transform: rotate(225deg);
                }
            }
            .name {
                font-size: 56px;
                text-align: center;
                font-family: 'H_condensed_bold'; 
                // background: #4773E8;
                color: $color-blue;
                // background: linear-gradient(to bottom right, #4773E8 29%, #9C27F3 100%);
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
                line-height: 44px;
                margin-bottom: 80px;
            }
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 540px;
                input {
                    width: 100%;
                    height: 60px;
                    border-radius: 20px;
                    margin-bottom: 20px;
                    padding-left: 10px;
                    font-size: 18px;
                    outline: none;
                    border: 3px solid rgba(60, 60, 60, 0.203);
                    transition: .18s;
                    
                    &::placeholder { 
                        color: rgba(60, 60, 60, 0.641);
                        opacity: 1; 
                        font-family: 'H_condensed_bold'; 
                    }
                    &:focus {
                        border: 3px solid $color-blue;
                        transition: .18s;
                        &::placeholder { 
                            color: $color-blue;
                            opacity: 1; 
                        }
                    }
                    &:hover {
                        border: 3px solid $color-blue;
                        transition: .18s;
                        &::placeholder { 
                            color: $color-blue;
                            opacity: 1; 
                        }
                    }

                }

                .form_submit {
                    width: 100%;
                    height: 80px;
                    background: $color-blue;
                    color: $color-white;
                    border-radius: 20px;
                    font-size: 24px;
                    font-family: 'H_condensed_bold'; 
                    outline: none;
                    border: none;
                    transition: .2s;
                    &:hover {
                        cursor: pointer;
                        background: darken($color-blue, 10);
                        transition: .2s;
                    }
                }
            }
        }
    }

}